.dashboard-background {
    background-image: url("images/dashboard-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.dashboard-title {
    color: black;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 600;
	margin-bottom: 1rem;
}

.dashboard-subtitle {
    color: #636567;
    opacity: 0.9;
    font-size: 1.2rem;
	text-align: left;
}

.dashboard-card {
  	width: 275px;
  	height: 250px;
  	cursor: pointer;
	--vaadin-card-border-radius: 16px;
	--vaadin-card-gap: 1rem;
	--vaadin-card-title-line-height: 3;
	--vaadin-card-subtitle-font-size: 3rem;
	--vaadin-card-subtitle-line-height: 1;
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	border: none;
}

.dashboard-card:hover {
	--vaadin-card-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
	transform: translateY(-2px);
	transition: box-shadow 1s ease, transform 0.2s ease;
}

.card-postfach {
	--vaadin-card-background: none;
	background-image: url("images/postfach-bg.png");
	background-color: #edf6e5;
}

.card-chat {
	--vaadin-card-background: none;
	background-image: url("images/chat-bg.png");
	background-color: #e2d1f4;
}

.card-kalender {
	--vaadin-card-background: none;
	background-image: url("images/kalender-bg.png");
	background-color: #f9dcb7;
}

.card-todos {
	--vaadin-card-background: none;
	background-image: url("images/todos-bg.png");
	background-color: #d9e8f8;
}

.card-icon-circle {
    font-size: 28px;
    color: white;
    line-height: 1;
    border-radius: 50%;
    padding: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.card-icon-circle-mail {
    background-color: #4e8f53;
}

.card-icon-circle-chat {
	background-color: #8f69ca;
}

.card-icon-circle-calendar_month {
    background-color: #f4700a;
}

.card-icon-circle-check_box {
    background-color: #337bd2;
}

.postfach-grid::part(body-cell) {
	cursor: pointer;
}

.postfach-grid::part(row):hover {
    --row-hover-bg: #E6E6FA;
}

.postfach-grid::part(body-cell) {
    background-color: var(--row-hover-bg, var(--vaadin-grid-cell-background, var(--lumo-base-color))) !important;
}